<a href='/user/<%= post.user.user_name %>/posts/<%= post.title %>'><h2 class="title"><%= post.title %></h2></a>
<h4 class="posted_on"><%=post.posted_on %></h4>

<p class="body"><%= post.text.gsub(/\n/, '<br>') %></p>
<a href='/user/<%= post.user.user_name %>'><h4 class="post_author">by: <%=post.user.full_name %></h4></a>




<!-- <ul class="tags">
  <% post.tags.each do |tag| %>
    <li><%= tag.title %></li>
  <% end %>
</ul>
 -->
