<div class="post">
  <h2>Edit Post:</h2>
  <br>
  <form action='/user/<%=find_user.user_name%>/posts/<%= post.title %>' class="post_form" method='post'>
    <%= erb :_post_form, :locals => {:post => post} %>
    <br>
    <br>
    <input class="post submit" type='submit' value='Save'>
    <form action="/user/<%=post.user.user_name%>/posts/<%= post.title %>/remove" method="post">
      <input class="post submit" type='submit' value='Remove'>
    </form>
  </form>
  <div class="return_message"></div>
</div>
