<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

<title><%= @title || "Badass Blog"%></title>
</head>
<body>


  <table class='header'>
  <tr>
    <td>
      <a href='/'><h1><%= find_user ?  "#{find_user.first_name} #{find_user.last_name}" : "My Sweet Blog"%></h1></a>
    </td>
  </tr>
  <tr>
    <td>
      <%="<a class='post button' href='/user/#{find_user.user_name}/posts/new' style='color:white'>New Post</a>" if find_user %>
    </td>
  </tr>
  <tr class="user_widget">
    <td> 
      <%= erb find_user ? :_user_widget_logged_in : :_user_widget_logged_out %>
    </td>
  </tr>

</table>


<div class="container">
  <%= yield %>
</div>




  

</body>
</html>
